body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}
 h1{
     color: blueviolet;
 }

.cor{
    color: darkmagenta;
    font-size: 18px;
    font-weight: bold; //negrito
}

.dir{
    float: right;
    margin: 15px;
}

.clear{
    clear: both;
}