body{
    margin: 0;
    padding: 0;
    background-image: url(https://pre00.deviantart.net/c678/th/pre/f/2018/225/e/3/_rework__nunu___render_by_lol0verlay-dck1bgd.png);
    height: 100%;
}
 h1{
     color: blueviolet;
 }
